<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Cadastro</title>
      <!-- Incluindo CSS do Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="container mt-5">
         <div class="row justify-content-center">
            <div class="col-md-6">
               <div class="card">
                  <div class="card-header text-center">
                     <h2>Cadastro</h2>
                  </div>
                  <div class="card-body">
                     <!-- Exibindo as mensagens de erro ou sucesso -->
                     {% if error_message %}
                     <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                     </div>
                     {% endif %}
                     {% if success_message %}
                     <div class="alert alert-success" role="alert">
                        {{ success_message }}
                     </div>
                     {% endif %}
                     <form action="{% url 'cadastro' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                           <label for="username">Nome de usuário</label>
                           <input type="text" class="form-control" id="username" name="username" placeholder="Nome de usuário" required>
                        </div>
                        <div class="form-group">
                           <label for="email">Email</label>
                           <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                           <label for="senha">Senha</label>
                           <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Primeiro nome</label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Primeiro nome" required>
                         </div>
                         <div class="form-group">
                            <label for="last_name">Primeiro nome</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder=" Sobrenome" required>
                         </div>
                        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                     </form>
                  </div>
                  <div class="card-footer text-center">
                     <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Incluindo JS do Bootstrap e jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </body>
</html>